script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
//- script(type="text/javascript", src="/vendor/moment/moment.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/ngDialog/js/ngDialog.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/vendor/angular-animate/angular-animate.js")
script(type="text/javascript", src="/vendor/angular-filter/dist/angular-filter.js")
script(type="text/javascript", src="/vendor/angular-bootstrap/ui-bootstrap-tpls.js")
//- script(type="text/javascript", src="/vendor/angular-bootstrap-datetimepicker/src/js/datetimepicker.js")
// script(type="text/javascript", src="/vendor/perfect-scrollbar/src/perfect-scrollbar.js")
// script(type="text/javascript", src="/vendor/angular-perfect-scrollbar/src/angular-perfect-scrollbar.js")
script(type="text/javascript", src="/vendor/angular-loading-bar/src/loading-bar.js")
script(type="text/javascript", src="/vendor/ngImgCrop/compile/unminified/ng-img-crop.js")
script(type="text/javascript", src="/vendor/ng-file-upload/angular-file-upload-shim.min.js")
script(type="text/javascript", src="/vendor/ng-file-upload/angular-file-upload.min.js")
	
script(type="text/javascript", src="/socket.io/socket.io.js")
//- script(src="https://cdn.socket.io/socket.io-1.0.0.js")

script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/appCtrl.js")
script(type="text/javascript", src="/app/account/mvNavBarLoginCtrl.js")
script(type="text/javascript", src="/app/account/mvIdentity.js")
script(type="text/javascript", src="/app/common/mvNotifier.js")
script(type="text/javascript", src="/app/admin/mvUserListCtrl.js")

script(type="text/javascript", src="/app/account/mvAuth.js")
script(type="text/javascript", src="/app/account/mvUser.js")
script(type="text/javascript", src="/app/account/mvSignupCtrl.js")
script(type="text/javascript", src="/app/account/mvProfileCtrl.js")
script(type="text/javascript", src="/app/account/openSignupLoginModalCtrl.js")
script(type="text/javascript", src="/app/account/actions/mvMyActionCreateCtrl.js")
script(type="text/javascript", src="/app/account/actions/mvMyActionCtrl.js")
script(type="text/javascript", src="/app/account/actions/mvMyActionUpdateCtrl.js")
script(type="text/javascript", src="/app/account/actions/myActionStoryCtrl.js")

script(type="text/javascript", src="/app/actions/mvActionListCtrl.js")
script(type="text/javascript", src="/app/actions/scheduledActionsCtrl.js")
script(type="text/javascript", src="/app/actions/completedActionsCtrl.js")
script(type="text/javascript", src="/app/actions/mvAction.js")

script(type="text/javascript", src="/app/actions/mvCachedActions.js")
script(type="text/javascript", src="/app/actions/mvActionDetailCtrl.js")
script(type="text/javascript", src="/app/actions/mvActionPlayCtrl.js")

script(type="text/javascript", src="/app/messages/messagesListCtrl.js")
script(type="text/javascript", src="/app/messages/mvMyMessagedActions.js")
script(type="text/javascript", src="/app/messages/message.js")
script(type="text/javascript", src="/app/messages/cachedMessages.js")
script(type="text/javascript", src="/app/messages/myCachedMessages.js")
